[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pypianoroll = "*"
sympy = "*"
black = "*"
bitarray = "*"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
